<ul class="docs-navigation">
        {{#compare basename '!=' 'index'}}
        <li>
            <a href="../">Index</a>
        </li>
        {{/compare}}
    {{#withSort pages "data.nav-index"}}
        <li>
            {{#is ../basename 'index'}}
                <a href="#{{hyphenate (lowercase data.title)}}">{{data.title}}</a>
            {{else}}
                <a href="{{relative ../../page.dest this.dest}}">{{data.title}}</a>
            {{/is}}
            {{#if data.sub-nav}}
                <ul>
                    {{#each data.sub-nav}}
                        <li>
                        {{#is ../../../basename 'index'}}
                            <a href="#{{hyphenate (lowercase this) }}">{{this}}</a>
                        {{else}}
                            <a href="{{relative ../../../../page.dest ../../dest}}#{{hyphenate (lowercase this) }}">{{this}}</a>
                        {{/is}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </li>
    {{/withSort}}
</ul>

<ul class="docs-navigation">
    <h5 class="sc-font-bold">Showcar Repositories</h5>
    <li>
        <a href="https://github.com/AutoScout24/showcar-ui" target="_blank">showcar-ui</a>
        (<a href="http://as24-showcar-ui.aws.autoscout24.com/docs/" target="_blank">docs</a>)
    </li>
    <li>
        <a href="https://github.com/AutoScout24/showcar-icons" target="_blank">showcar-icons</a>
        (<a href="http://as24-showcar-icons.aws.autoscout24.com/docs/" target="_blank">docs</a>)
    </li>
    <li>
        <a href="https://github.com/AutoScout24/showcar-gallery" target="_blank">showcar-gallery</a>
    </li>
    <li>
        <a href="https://github.com/AutoScout24/showcar-tracking" target="_blank">showcar-tracking</a>
    </li>
    <li>
        <a href="https://github.com/AutoScout24/showcar-storage" target="_blank">showcar-storage</a>
    </li>
</ul>

<ul class="docs-navigation">
    <h5 class="sc-font-bold">Showcar examples</h5>
    <li><a href="./examples/spy-navigation/index.html">Spy Navigation 1</a></li>
    <li><a href="./examples/spy-navigation/index2.html">Spy Navigation 2</a></li>
    <li><a href="./examples/responsive-grid/index.html">Responsive Grid</a></li>
    <li><a href="./examples/listpage/index.html">List Page</a></li>
    <li><a href="./examples/cards/index.html">Cards</a></li>
    <li><a href="./examples/cms/index.html">CMS</a></li>
    <li><a href="./examples/header-small/index.html">Header small</a></li>
    <li><a href="./examples/footer/index.html">Footer</a></li>
    <li><a href="./examples/footer-small/index.html">Footer small</a></li>
    <li><a href="./examples/pager/index.html">Intelligent Pagination</a></li>
</ul>
